<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--指定命名空间 org.czp.dao.UserMapper -->
<mapper namespace="">

    <insert id="addUser">
        insert into MyUser(id,uname,pwd) values (#{id},#{uname},#{pwd})
    </insert>

    <delete id="deleteUserById">
        delete from MyUser where id = #{ID}
    </delete>

    <select id="selectUserById" resultType="org.czp.pojo.MyUser">
        select * from Mybatis.MyUser where id = #{ID}
    </select>

    <update id="updatePassword">
        update MyUser set pwd = #{pwd} where id = #{ID}
    </update>
</mapper>